@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.timeline {
  position: relative;
  padding: 16px 0;
}

.timelineLine {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: $ms-color-neutralLight;
  transform: translateX(-50%);
}

// Date marker
.dateMarker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0 12px;
  z-index: 1;
}

.dateMarkerDot {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: $ms-color-neutralTertiaryAlt;
  border: 2px solid $ms-color-white;
  flex-shrink: 0;
}

.dateMarkerLabel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: $ms-color-neutralLighterAlt;
  padding: 4px 16px;
  border-radius: 16px;
  font-size: $ms-font-size-12;
  font-weight: $ms-font-weight-semibold;
  color: $ms-color-neutralSecondary;
  white-space: nowrap;
  top: -28px;
}

.dateMarkerToday {
  .dateMarkerDot {
    background: $ms-color-themePrimary;
    width: 16px;
    height: 16px;
  }

  .dateMarkerLabel {
    background: $ms-color-themePrimary;
    color: $ms-color-white;
  }
}

// Timeline items
.timelineItemLeft,
.timelineItemRight {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
}

.timelineItemLeft {
  flex-direction: row;
  padding-right: calc(50% + 24px);

  .timelineCardWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .timelineEmoji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timelineItemRight {
  flex-direction: row-reverse;
  padding-left: calc(50% + 24px);

  .timelineCardWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
  }

  .timelineEmoji {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.timelineConnector {
  display: none; // Connector is visual via the center line
}

.timelineEmoji {
  z-index: 2;
}

.emojiDot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid $ms-color-white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.timelineCardWrapper {
  max-width: 400px;
  min-width: 240px;
}

.emptyTimeline {
  text-align: center;
  padding: 32px;
  color: $ms-color-neutralTertiary;
  font-size: $ms-font-size-14;
}

// Responsive: single column on small screens
@media (max-width: 768px) {
  .timelineLine {
    left: 24px;
  }

  .timelineItemLeft,
  .timelineItemRight {
    flex-direction: row !important; // stylelint-disable-line
    padding-left: 56px !important; // stylelint-disable-line
    padding-right: 0 !important; // stylelint-disable-line

    .timelineCardWrapper {
      justify-content: flex-start !important; // stylelint-disable-line
    }

    .timelineEmoji {
      left: 24px !important; // stylelint-disable-line
    }
  }

  .dateMarkerLabel {
    left: 56px;
    transform: none;
  }
}
