@import "~@fluentui/react/dist/sass/References";

.previewContent {
  width: 100%;
  min-height: 480px;
  display: flex;
  flex-direction: column;
}

.previewIframe {
  width: 100%;
  height: 500px;
  border: none;
  border-radius: 4px;
}

.previewImage {
  max-width: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 4px;
}

.previewFallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 40px;
  text-align: center;
}

.previewFallbackText {
  font-size: $ms-font-size-14;
  color: $ms-color-neutralSecondary;
}

.openLink {
  font-size: $ms-font-size-14;
  color: $ms-color-themePrimary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 2px solid $ms-color-themePrimary;
    outline-offset: 2px;
  }
}
