@import '~@fluentui/react/dist/sass/References';

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;

  @media (max-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
  }
}

.emptyGrid {
  padding: 32px;
  text-align: center;
  color: "[theme:neutralSecondary, default:#605e5c]";
  font-size: 14px;
}
