@import "~@fluentui/react/dist/sass/References";

.monthViewGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background: $ms-color-neutralLight;
  border: 1px solid $ms-color-neutralLight;
  border-radius: 4px;
  overflow: hidden;
}

.monthViewHeader {
  background: $ms-color-neutralLighterAlt;
  padding: 6px 8px;
  font-size: $ms-font-size-12;
  font-weight: $ms-font-weight-semibold;
  color: $ms-color-neutralSecondary;
  text-align: center;
  text-transform: uppercase;
}

.monthViewCell {
  background: $ms-color-white;
  min-height: 90px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background 0.1s ease;

  &:hover {
    background: $ms-color-neutralLighterAlt;
  }

  &:focus-within {
    outline: 2px solid $ms-color-themePrimary;
    outline-offset: -2px;
  }
}

.monthViewCellOutside {
  background: $ms-color-neutralLighterAlt;
  opacity: 0.6;
}

.monthViewCellToday {
  background: $ms-color-themeLighterAlt;
}

.monthViewCellSelected {
  background: $ms-color-themeLighter;
}

.monthViewDayNumber {
  font-size: $ms-font-size-12;
  font-weight: $ms-font-weight-regular;
  color: $ms-color-neutralPrimary;
  margin-bottom: 4px;
}

.monthViewDayNumberToday {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: $ms-color-themePrimary;
  color: $ms-color-white;
  font-weight: $ms-font-weight-semibold;
}

.monthViewCellEvents {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  flex: 1;
}

.monthViewMoreLabel {
  font-size: $ms-font-size-10;
  color: $ms-color-themePrimary;
  cursor: pointer;
  padding: 2px 0;

  &:hover {
    text-decoration: underline;
  }
}
