@import '~@fluentui/react/dist/sass/References.scss';

.canvasContainer {
  position: relative;
  width: 100%;
}

.canvasElement {
  width: 100% !important;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}
