@import "~@fluentui/react/dist/sass/References";

.ratingQuestion {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.ratingItem {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $ms-color-neutralTertiaryAlt;
  border-radius: 50%;
  cursor: pointer;
  font-size: $ms-font-size-14;
  font-weight: $ms-font-weight-semibold;
  color: $ms-color-neutralSecondary;
  transition: all 0.15s ease;

  &:hover {
    border-color: $ms-color-themePrimary;
    color: $ms-color-themePrimary;
  }
}

.ratingItemSelected {
  border-color: $ms-color-themePrimary;
  background-color: $ms-color-themePrimary;
  color: $ms-color-white;
}

.ratingItemDisabled {
  opacity: 0.6;
  cursor: default;

  &:hover {
    border-color: $ms-color-neutralTertiaryAlt;
    color: $ms-color-neutralSecondary;
  }
}
