@import '~@fluentui/react/dist/sass/References.scss';

.customMessage {
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
}

.positionAbove {
  background-color: #f3f2f1;
  color: #323130;
  margin-bottom: 12px;
  text-align: center;
}

.positionBelow {
  background-color: #f3f2f1;
  color: #323130;
  margin-top: 12px;
  text-align: center;
}

.positionOverlayCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  max-width: 80%;
  z-index: 20;
  font-weight: 600;
}

.positionOverlayBottom {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  z-index: 20;
  font-weight: 600;
}
