@import "~@fluentui/react/dist/sass/References";

.hyperLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  font-family: $ms-font-family-fallbacks;
}

.title {
  font-size: $ms-font-size-20;
  font-weight: $ms-font-weight-semibold;
  color: $ms-color-neutralPrimary;
  margin: 0 0 4px 0;
}

.content {
  display: flex;
  flex-direction: column;
}
