@import '~@fluentui/react/dist/sass/References';
.count { position: absolute; z-index: 10; padding: 4px 8px; }
.topLeft { top: 16px; left: 16px; }
.topRight { top: 16px; right: 16px; }
.bottomLeft { bottom: 16px; left: 16px; }
.bottomRight { bottom: 16px; right: 16px; }
