.fadeContainer {
  position: relative;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.fadeItem {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 16px;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
}

.fadeActive {
  opacity: 1;
}

.fadeInactive {
  opacity: 0;
}
