@import "~@fluentui/react/dist/sass/References";

.healthDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  flex-shrink: 0;
}

.healthy {
  background-color: #107c10;
}

.broken {
  background-color: #a80000;
}

.unknown {
  background-color: $ms-color-neutralTertiaryAlt;
}
