@import "~@fluentui/react/dist/sass/References";

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 4px 0;
}

.buttonWrapper {
  display: inline-flex;
}

.button {
  padding: 10px 20px;
  border: 1px solid $ms-color-themePrimary;
  border-radius: 24px;
  background: transparent;
  color: $ms-color-themePrimary;
  font-size: $ms-font-size-14;
  font-weight: $ms-font-weight-semibold;

  &:hover {
    background: $ms-color-themePrimary;
    color: $ms-color-white;
  }
}
