@import "~@fluentui/react/dist/sass/References";

.grid {
  display: grid;
  gap: 12px;
}

.gridCell {
  display: flex;
}

.gridItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  width: 100%;
  border: 1px solid $ms-color-neutralLight;
  background: $ms-color-white;
}
