@import '~@fluentui/react/dist/sass/References';

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: "[theme:neutralSecondary, default:#605e5c]";
  margin-right: auto;
}

.breadcrumbItem {
  padding: 2px 4px;
  border: none;
  background: none;
  cursor: pointer;
  color: "[theme:neutralSecondary, default:#605e5c]";
  border-radius: 3px;
  font-size: 13px;
  transition: background 200ms, color 200ms;

  &:hover {
    background: "[theme:neutralLighterAlt, default:#faf9f8]";
    color: "[theme:neutralPrimary, default:#323130]";
  }
}

.breadcrumbItemCurrent {
  color: "[theme:neutralPrimary, default:#323130]";
  font-weight: 500;
  cursor: default;

  &:hover {
    background: none;
    color: "[theme:neutralPrimary, default:#323130]";
  }
}

.separator {
  color: "[theme:neutralTertiary, default:#a19f9d]";
  user-select: none;
  display: flex;
  align-items: center;
}

.rootIcon {
  font-size: 16px;
}
