@import '~@fluentui/react/dist/sass/References';

.buttonLayer {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
  font-size: $ms-font-size-14;
  border: none;
}

.primary {
  background-color: $ms-color-themePrimary;
  color: $ms-color-white;
}

.primary:hover {
  background-color: $ms-color-themeDarkAlt;
}

.secondary {
  background-color: transparent;
  color: $ms-color-themePrimary;
  border: 1px solid $ms-color-themePrimary;
}

.secondary:hover {
  background-color: $ms-color-themeLighter;
}

.ghost {
  background-color: transparent;
  color: $ms-color-white;
}

.ghost:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.custom {
}

.iconBefore {
  order: -1;
}

.iconAfter {
  order: 1;
}
