@import '~@fluentui/react/dist/sass/References';

.shapeLayer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shapeLayer svg {
  width: 100%;
  height: 100%;
}
