@import "~@fluentui/react/dist/sass/References";

.chartTypeSelector {
  display: flex;
  gap: 4px;
}

.chartTypeButton {
  padding: 4px 12px;
  border: 1px solid $ms-color-neutralTertiaryAlt;
  border-radius: 4px;
  background: $ms-color-white;
  cursor: pointer;
  font-size: $ms-font-size-12;
  color: $ms-color-neutralSecondary;
  transition: all 0.15s ease;

  &:hover {
    border-color: $ms-color-themePrimary;
    color: $ms-color-themePrimary;
  }
}

.chartTypeButtonActive {
  border-color: $ms-color-themePrimary;
  background-color: $ms-color-themePrimary;
  color: $ms-color-white;

  &:hover {
    background-color: $ms-color-themeDark;
    color: $ms-color-white;
  }
}
