@import '~@fluentui/react/dist/sass/References';

.beforeAfter {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: ew-resize;
  user-select: none;
}

.beforeImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.beforeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.afterImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.afterImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.handle {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.handleBar {
  width: 4px;
  height: 100%;
}

.handleGrip {
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.handleGrip i {
  font-size: 14px;
}

.label {
  position: absolute;
  top: 16px;
  padding: 4px 12px;
  font-size: $ms-font-size-12;
  color: $ms-color-white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 2;
}

.labelBefore {
  left: 16px;
}

.labelAfter {
  right: 16px;
}
