@import '~@fluentui/react/dist/sass/References';

.reveal {
  position: relative;
  overflow: hidden;
}

@keyframes revealCircle {
  from { clip-path: circle(0% at 50% 50%); }
  to { clip-path: circle(100% at 50% 50%); }
}

@keyframes revealInset {
  from { clip-path: inset(50% 50% 50% 50%); }
  to { clip-path: inset(0 0 0 0); }
}

@keyframes revealLeft {
  from { clip-path: inset(0 100% 0 0); }
  to { clip-path: inset(0 0 0 0); }
}

@keyframes revealRight {
  from { clip-path: inset(0 0 0 100%); }
  to { clip-path: inset(0 0 0 0); }
}

@keyframes revealTop {
  from { clip-path: inset(0 0 100% 0); }
  to { clip-path: inset(0 0 0 0); }
}

@keyframes revealBottom {
  from { clip-path: inset(100% 0 0 0); }
  to { clip-path: inset(0 0 0 0); }
}

.revealCircle {
  animation-name: revealCircle;
  animation-fill-mode: both;
}

.revealInset {
  animation-name: revealInset;
  animation-fill-mode: both;
}

.revealLeft {
  animation-name: revealLeft;
  animation-fill-mode: both;
}

.revealRight {
  animation-name: revealRight;
  animation-fill-mode: both;
}

.revealTop {
  animation-name: revealTop;
  animation-fill-mode: both;
}

.revealBottom {
  animation-name: revealBottom;
  animation-fill-mode: both;
}
