@import '~@fluentui/react/dist/sass/References';

.editOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  pointer-events: none;
  color: $ms-color-white;
  text-align: center;
  padding: 24px;
}

.editIcon {
  font-size: 32px;
  margin-bottom: 12px;
  color: $ms-color-white;
}

.editTitle {
  font-size: $ms-font-size-20;
  font-weight: 600;
  margin-bottom: 8px;
}

.editDescription {
  font-size: $ms-font-size-14;
  opacity: 0.8;
  max-width: 400px;
}

.editStats {
  margin-top: 16px;
  font-size: $ms-font-size-12;
  opacity: 0.6;
}
