@import "~@fluentui/react/dist/sass/References";

.countdown {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: $ms-color-neutralLighterAlt;
  border-radius: 8px;
}

.countdownUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.countdownValue {
  font-size: $ms-font-size-24;
  font-weight: $ms-font-weight-bold;
  color: $ms-color-themePrimary;
  line-height: 1;
}

.countdownLabel {
  font-size: $ms-font-size-10;
  color: $ms-color-neutralSecondary;
  text-transform: uppercase;
}

.countdownSeparator {
  font-size: $ms-font-size-20;
  color: $ms-color-neutralTertiary;
  align-self: flex-start;
  padding-top: 2px;
}

.countdownComplete {
  font-size: $ms-font-size-14;
  color: $ms-color-neutralSecondary;
  text-align: center;
  padding: 12px;
}
